---
http_interactions:
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/Vindicia.xsd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      last-modified:
      - Fri, 17 Feb 2012 07:42:17 GMT
      etag:
      - ! '"11030a2f-c68e-4f3e04d9"'
      content-type:
      - text/plain
    body:
      encoding: US-ASCII
      string: ! "  <xsd:schema targetNamespace=\"http://soap.vindicia.com/v3_6/Vindicia\"
        xmlns=\"http://schemas.xmlsoap.org/wsdl/\" xmlns:enc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:tns=\"http://soap.vindicia.com/v3_6/Vindicia\"
        xmlns:vin=\"http://soap.vindicia.com/v3_6/Vindicia\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsdl=\"http://soap.vindicia.com/v3_6/Vindicia\"
        >\n  <xsd:import namespace=\"http://schemas.xmlsoap.org/soap/encoding/\" />\n
        \ <xsd:complexType name=\"Account\">\n    <xsd:sequence>\n      <xsd:element
        minOccurs=\"0\" name=\"VID\" type=\"xsd:string\" />\n      <xsd:element minOccurs=\"0\"
        name=\"merchantAccountId\" type=\"xsd:string\" />\n      <xsd:element minOccurs=\"0\"
        name=\"emailAddress\" type=\"xsd:string\" />\n      <xsd:element minOccurs=\"0\"
        name=\"emailTypePreference\" type=\"tns:EmailPreference\" />\n      <xsd:element
        minOccurs=\"0\" name=\"preferredLanguage\" type=\"xsd:string\" />\n      <xsd:element
        minOccurs=\"0\" name=\"warnBeforeAutobilling\" type=\"xsd:boolean\" />\n      <xsd:element
        minOccurs=\[...]
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/Account.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <HTML><HEAD>

        <TITLE>400 Bad Request</TITLE>

        </HEAD><BODY>

        <H1>Bad Request</H1>

        Your browser sent a request that this server could not understand.<P>

        Reason: You''re speaking plain HTTP to an SSL-enabled server port.<BR>

        Instead use the HTTPS scheme to access this URL, please.<BR>

        <BLOCKQUOTE>Hint: <A HREF="https://soap.vindicia.com:443/"><B>https://soap.vindicia.com:443/</B></A></BLOCKQUOTE><P>

        </BODY></HTML>

'
  recorded_at: Wed, 21 Mar 2012 14:13:11 GMT
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/ActivityTypeArg.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <HTML><HEAD>

        <TITLE>400 Bad Request</TITLE>

        </HEAD><BODY>

        <H1>Bad Request</H1>

        Your browser sent a request that this server could not understand.<P>

        Reason: You''re speaking plain HTTP to an SSL-enabled server port.<BR>

        Instead use the HTTPS scheme to access this URL, please.<BR>

        <BLOCKQUOTE>Hint: <A HREF="https://soap.vindicia.com:443/"><B>https://soap.vindicia.com:443/</B></A></BLOCKQUOTE><P>

        </BODY></HTML>

'
  recorded_at: Wed, 21 Mar 2012 14:13:11 GMT
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/ActivityLogin.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <HTML><HEAD>

        <TITLE>400 Bad Request</TITLE>

        </HEAD><BODY>

        <H1>Bad Request</H1>

        Your browser sent a request that this server could not understand.<P>

        Reason: You''re speaking plain HTTP to an SSL-enabled server port.<BR>

        Instead use the HTTPS scheme to access this URL, please.<BR>

        <BLOCKQUOTE>Hint: <A HREF="https://soap.vindicia.com:443/"><B>https://soap.vindicia.com:443/</B></A></BLOCKQUOTE><P>

        </BODY></HTML>

'
  recorded_at: Wed, 21 Mar 2012 14:13:11 GMT
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/ActivityLogout.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <HTML><HEAD>

        <TITLE>400 Bad Request</TITLE>

        </HEAD><BODY>

        <H1>Bad Request</H1>

        Your browser sent a request that this server could not understand.<P>

        Reason: You''re speaking plain HTTP to an SSL-enabled server port.<BR>

        Instead use the HTTPS scheme to access this URL, please.<BR>

        <BLOCKQUOTE>Hint: <A HREF="https://soap.vindicia.com:443/"><B>https://soap.vindicia.com:443/</B></A></BLOCKQUOTE><P>

        </BODY></HTML>

'
  recorded_at: Wed, 21 Mar 2012 14:13:11 GMT
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/ActivityUsage.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <HTML><HEAD>

        <TITLE>400 Bad Request</TITLE>

        </HEAD><BODY>

        <H1>Bad Request</H1>

        Your browser sent a request that this server could not understand.<P>

        Reason: You''re speaking plain HTTP to an SSL-enabled server port.<BR>

        Instead use the HTTPS scheme to access this URL, please.<BR>

        <BLOCKQUOTE>Hint: <A HREF="https://soap.vindicia.com:443/"><B>https://soap.vindicia.com:443/</B></A></BLOCKQUOTE><P>

        </BODY></HTML>

'
  recorded_at: Wed, 21 Mar 2012 14:13:11 GMT
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/ActivityNamedValue.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <HTML><HEAD>

        <TITLE>400 Bad Request</TITLE>

        </HEAD><BODY>

        <H1>Bad Request</H1>

        Your browser sent a request that this server could not understand.<P>

        Reason: You''re speaking plain HTTP to an SSL-enabled server port.<BR>

        Instead use the HTTPS scheme to access this URL, please.<BR>

        <BLOCKQUOTE>Hint: <A HREF="https://soap.vindicia.com:443/"><B>https://soap.vindicia.com:443/</B></A></BLOCKQUOTE><P>

        </BODY></HTML>

'
  recorded_at: Wed, 21 Mar 2012 14:13:11 GMT
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/ActivityPhoneContact.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <HTML><HEAD>

        <TITLE>400 Bad Request</TITLE>

        </HEAD><BODY>

        <H1>Bad Request</H1>

        Your browser sent a request that this server could not understand.<P>

        Reason: You''re speaking plain HTTP to an SSL-enabled server port.<BR>

        Instead use the HTTPS scheme to access this URL, please.<BR>

        <BLOCKQUOTE>Hint: <A HREF="https://soap.vindicia.com:443/"><B>https://soap.vindicia.com:443/</B></A></BLOCKQUOTE><P>

        </BODY></HTML>

'
  recorded_at: Wed, 21 Mar 2012 14:13:12 GMT
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/ActivityEmailContact.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <HTML><HEAD>

        <TITLE>400 Bad Request</TITLE>

        </HEAD><BODY>

        <H1>Bad Request</H1>

        Your browser sent a request that this server could not understand.<P>

        Reason: You''re speaking plain HTTP to an SSL-enabled server port.<BR>

        Instead use the HTTPS scheme to access this URL, please.<BR>

        <BLOCKQUOTE>Hint: <A HREF="https://soap.vindicia.com:443/"><B>https://soap.vindicia.com:443/</B></A></BLOCKQUOTE><P>

        </BODY></HTML>

'
  recorded_at: Wed, 21 Mar 2012 14:13:12 GMT
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/ActivityFulfillment.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <HTML><HEAD>

        <TITLE>400 Bad Request</TITLE>

        </HEAD><BODY>

        <H1>Bad Request</H1>

        Your browser sent a request that this server could not understand.<P>

        Reason: You''re speaking plain HTTP to an SSL-enabled server port.<BR>

        Instead use the HTTPS scheme to access this URL, please.<BR>

        <BLOCKQUOTE>Hint: <A HREF="https://soap.vindicia.com:443/"><B>https://soap.vindicia.com:443/</B></A></BLOCKQUOTE><P>

        </BODY></HTML>

'
  recorded_at: Wed, 21 Mar 2012 14:13:12 GMT
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/ActivityURIView.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <HTML><HEAD>

        <TITLE>400 Bad Request</TITLE>

        </HEAD><BODY>

        <H1>Bad Request</H1>

        Your browser sent a request that this server could not understand.<P>

        Reason: You''re speaking plain HTTP to an SSL-enabled server port.<BR>

        Instead use the HTTPS scheme to access this URL, please.<BR>

        <BLOCKQUOTE>Hint: <A HREF="https://soap.vindicia.com:443/"><B>https://soap.vindicia.com:443/</B></A></BLOCKQUOTE><P>

        </BODY></HTML>

'
  recorded_at: Wed, 21 Mar 2012 14:13:12 GMT
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/ActivityCancellation.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <HTML><HEAD>

        <TITLE>400 Bad Request</TITLE>

        </HEAD><BODY>

        <H1>Bad Request</H1>

        Your browser sent a request that this server could not understand.<P>

        Reason: You''re speaking plain HTTP to an SSL-enabled server port.<BR>

        Instead use the HTTPS scheme to access this URL, please.<BR>

        <BLOCKQUOTE>Hint: <A HREF="https://soap.vindicia.com:443/"><B>https://soap.vindicia.com:443/</B></A></BLOCKQUOTE><P>

        </BODY></HTML>

'
  recorded_at: Wed, 21 Mar 2012 14:13:12 GMT
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/ActivityNote.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <HTML><HEAD>

        <TITLE>400 Bad Request</TITLE>

        </HEAD><BODY>

        <H1>Bad Request</H1>

        Your browser sent a request that this server could not understand.<P>

        Reason: You''re speaking plain HTTP to an SSL-enabled server port.<BR>

        Instead use the HTTPS scheme to access this URL, please.<BR>

        <BLOCKQUOTE>Hint: <A HREF="https://soap.vindicia.com:443/"><B>https://soap.vindicia.com:443/</B></A></BLOCKQUOTE><P>

        </BODY></HTML>

'
  recorded_at: Wed, 21 Mar 2012 14:13:12 GMT
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/Activity.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <HTML><HEAD>

        <TITLE>400 Bad Request</TITLE>

        </HEAD><BODY>

        <H1>Bad Request</H1>

        Your browser sent a request that this server could not understand.<P>

        Reason: You''re speaking plain HTTP to an SSL-enabled server port.<BR>

        Instead use the HTTPS scheme to access this URL, please.<BR>

        <BLOCKQUOTE>Hint: <A HREF="https://soap.vindicia.com:443/"><B>https://soap.vindicia.com:443/</B></A></BLOCKQUOTE><P>

        </BODY></HTML>

'
  recorded_at: Wed, 21 Mar 2012 14:13:13 GMT
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/Address.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <HTML><HEAD>

        <TITLE>400 Bad Request</TITLE>

        </HEAD><BODY>

        <H1>Bad Request</H1>

        Your browser sent a request that this server could not understand.<P>

        Reason: You''re speaking plain HTTP to an SSL-enabled server port.<BR>

        Instead use the HTTPS scheme to access this URL, please.<BR>

        <BLOCKQUOTE>Hint: <A HREF="https://soap.vindicia.com:443/"><B>https://soap.vindicia.com:443/</B></A></BLOCKQUOTE><P>

        </BODY></HTML>

'
  recorded_at: Wed, 21 Mar 2012 14:13:13 GMT
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/Authentication.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <HTML><HEAD>

        <TITLE>400 Bad Request</TITLE>

        </HEAD><BODY>

        <H1>Bad Request</H1>

        Your browser sent a request that this server could not understand.<P>

        Reason: You''re speaking plain HTTP to an SSL-enabled server port.<BR>

        Instead use the HTTPS scheme to access this URL, please.<BR>

        <BLOCKQUOTE>Hint: <A HREF="https://soap.vindicia.com:443/"><B>https://soap.vindicia.com:443/</B></A></BLOCKQUOTE><P>

        </BODY></HTML>

'
  recorded_at: Wed, 21 Mar 2012 14:13:13 GMT
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/AutoBill.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <HTML><HEAD>

        <TITLE>400 Bad Request</TITLE>

        </HEAD><BODY>

        <H1>Bad Request</H1>

        Your browser sent a request that this server could not understand.<P>

        Reason: You''re speaking plain HTTP to an SSL-enabled server port.<BR>

        Instead use the HTTPS scheme to access this URL, please.<BR>

        <BLOCKQUOTE>Hint: <A HREF="https://soap.vindicia.com:443/"><B>https://soap.vindicia.com:443/</B></A></BLOCKQUOTE><P>

        </BODY></HTML>

'
  recorded_at: Wed, 21 Mar 2012 14:13:13 GMT
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/AutoBillUpgradeHistoryStep.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <HTML><HEAD>

        <TITLE>400 Bad Request</TITLE>

        </HEAD><BODY>

        <H1>Bad Request</H1>

        Your browser sent a request that this server could not understand.<P>

        Reason: You''re speaking plain HTTP to an SSL-enabled server port.<BR>

        Instead use the HTTPS scheme to access this URL, please.<BR>

        <BLOCKQUOTE>Hint: <A HREF="https://soap.vindicia.com:443/"><B>https://soap.vindicia.com:443/</B></A></BLOCKQUOTE><P>

        </BODY></HTML>

'
  recorded_at: Wed, 21 Mar 2012 14:13:13 GMT
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/BillingPlanPrice.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <HTML><HEAD>

        <TITLE>400 Bad Request</TITLE>

        </HEAD><BODY>

        <H1>Bad Request</H1>

        Your browser sent a request that this server could not understand.<P>

        Reason: You''re speaking plain HTTP to an SSL-enabled server port.<BR>

        Instead use the HTTPS scheme to access this URL, please.<BR>

        <BLOCKQUOTE>Hint: <A HREF="https://soap.vindicia.com:443/"><B>https://soap.vindicia.com:443/</B></A></BLOCKQUOTE><P>

        </BODY></HTML>

'
  recorded_at: Wed, 21 Mar 2012 14:13:13 GMT
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/BillingPlanPeriod.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <HTML><HEAD>

        <TITLE>400 Bad Request</TITLE>

        </HEAD><BODY>

        <H1>Bad Request</H1>

        Your browser sent a request that this server could not understand.<P>

        Reason: You''re speaking plain HTTP to an SSL-enabled server port.<BR>

        Instead use the HTTPS scheme to access this URL, please.<BR>

        <BLOCKQUOTE>Hint: <A HREF="https://soap.vindicia.com:443/"><B>https://soap.vindicia.com:443/</B></A></BLOCKQUOTE><P>

        </BODY></HTML>

'
  recorded_at: Wed, 21 Mar 2012 14:13:13 GMT
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/BillingPlan.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <HTML><HEAD>

        <TITLE>400 Bad Request</TITLE>

        </HEAD><BODY>

        <H1>Bad Request</H1>

        Your browser sent a request that this server could not understand.<P>

        Reason: You''re speaking plain HTTP to an SSL-enabled server port.<BR>

        Instead use the HTTPS scheme to access this URL, please.<BR>

        <BLOCKQUOTE>Hint: <A HREF="https://soap.vindicia.com:443/"><B>https://soap.vindicia.com:443/</B></A></BLOCKQUOTE><P>

        </BODY></HTML>

'
  recorded_at: Wed, 21 Mar 2012 14:13:14 GMT
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/Chargeback.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <HTML><HEAD>

        <TITLE>400 Bad Request</TITLE>

        </HEAD><BODY>

        <H1>Bad Request</H1>

        Your browser sent a request that this server could not understand.<P>

        Reason: You''re speaking plain HTTP to an SSL-enabled server port.<BR>

        Instead use the HTTPS scheme to access this URL, please.<BR>

        <BLOCKQUOTE>Hint: <A HREF="https://soap.vindicia.com:443/"><B>https://soap.vindicia.com:443/</B></A></BLOCKQUOTE><P>

        </BODY></HTML>

'
  recorded_at: Wed, 21 Mar 2012 14:13:14 GMT
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/TimeInterval.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <HTML><HEAD>

        <TITLE>400 Bad Request</TITLE>

        </HEAD><BODY>

        <H1>Bad Request</H1>

        Your browser sent a request that this server could not understand.<P>

        Reason: You''re speaking plain HTTP to an SSL-enabled server port.<BR>

        Instead use the HTTPS scheme to access this URL, please.<BR>

        <BLOCKQUOTE>Hint: <A HREF="https://soap.vindicia.com:443/"><B>https://soap.vindicia.com:443/</B></A></BLOCKQUOTE><P>

        </BODY></HTML>

'
  recorded_at: Wed, 21 Mar 2012 14:13:14 GMT
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/CurrencyAmount.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <HTML><HEAD>

        <TITLE>400 Bad Request</TITLE>

        </HEAD><BODY>

        <H1>Bad Request</H1>

        Your browser sent a request that this server could not understand.<P>

        Reason: You''re speaking plain HTTP to an SSL-enabled server port.<BR>

        Instead use the HTTPS scheme to access this URL, please.<BR>

        <BLOCKQUOTE>Hint: <A HREF="https://soap.vindicia.com:443/"><B>https://soap.vindicia.com:443/</B></A></BLOCKQUOTE><P>

        </BODY></HTML>

'
  recorded_at: Wed, 21 Mar 2012 14:13:14 GMT
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/Credit.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <HTML><HEAD>

        <TITLE>400 Bad Request</TITLE>

        </HEAD><BODY>

        <H1>Bad Request</H1>

        Your browser sent a request that this server could not understand.<P>

        Reason: You''re speaking plain HTTP to an SSL-enabled server port.<BR>

        Instead use the HTTPS scheme to access this URL, please.<BR>

        <BLOCKQUOTE>Hint: <A HREF="https://soap.vindicia.com:443/"><B>https://soap.vindicia.com:443/</B></A></BLOCKQUOTE><P>

        </BODY></HTML>

'
  recorded_at: Wed, 21 Mar 2012 14:13:14 GMT
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/CreditEventLog.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <HTML><HEAD>

        <TITLE>400 Bad Request</TITLE>

        </HEAD><BODY>

        <H1>Bad Request</H1>

        Your browser sent a request that this server could not understand.<P>

        Reason: You''re speaking plain HTTP to an SSL-enabled server port.<BR>

        Instead use the HTTPS scheme to access this URL, please.<BR>

        <BLOCKQUOTE>Hint: <A HREF="https://soap.vindicia.com:443/"><B>https://soap.vindicia.com:443/</B></A></BLOCKQUOTE><P>

        </BODY></HTML>

'
  recorded_at: Wed, 21 Mar 2012 14:13:14 GMT
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/Diagnostic.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <HTML><HEAD>

        <TITLE>400 Bad Request</TITLE>

        </HEAD><BODY>

        <H1>Bad Request</H1>

        Your browser sent a request that this server could not understand.<P>

        Reason: You''re speaking plain HTTP to an SSL-enabled server port.<BR>

        Instead use the HTTPS scheme to access this URL, please.<BR>

        <BLOCKQUOTE>Hint: <A HREF="https://soap.vindicia.com:443/"><B>https://soap.vindicia.com:443/</B></A></BLOCKQUOTE><P>

        </BODY></HTML>

'
  recorded_at: Wed, 21 Mar 2012 14:13:15 GMT
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/GiftCardStatus.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <HTML><HEAD>

        <TITLE>400 Bad Request</TITLE>

        </HEAD><BODY>

        <H1>Bad Request</H1>

        Your browser sent a request that this server could not understand.<P>

        Reason: You''re speaking plain HTTP to an SSL-enabled server port.<BR>

        Instead use the HTTPS scheme to access this URL, please.<BR>

        <BLOCKQUOTE>Hint: <A HREF="https://soap.vindicia.com:443/"><B>https://soap.vindicia.com:443/</B></A></BLOCKQUOTE><P>

        </BODY></HTML>

'
  recorded_at: Wed, 21 Mar 2012 14:13:15 GMT
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/GiftCard.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <HTML><HEAD>

        <TITLE>400 Bad Request</TITLE>

        </HEAD><BODY>

        <H1>Bad Request</H1>

        Your browser sent a request that this server could not understand.<P>

        Reason: You''re speaking plain HTTP to an SSL-enabled server port.<BR>

        Instead use the HTTPS scheme to access this URL, please.<BR>

        <BLOCKQUOTE>Hint: <A HREF="https://soap.vindicia.com:443/"><B>https://soap.vindicia.com:443/</B></A></BLOCKQUOTE><P>

        </BODY></HTML>

'
  recorded_at: Wed, 21 Mar 2012 14:13:15 GMT
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/ElectronicSignature.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <HTML><HEAD>

        <TITLE>400 Bad Request</TITLE>

        </HEAD><BODY>

        <H1>Bad Request</H1>

        Your browser sent a request that this server could not understand.<P>

        Reason: You''re speaking plain HTTP to an SSL-enabled server port.<BR>

        Instead use the HTTPS scheme to access this URL, please.<BR>

        <BLOCKQUOTE>Hint: <A HREF="https://soap.vindicia.com:443/"><B>https://soap.vindicia.com:443/</B></A></BLOCKQUOTE><P>

        </BODY></HTML>

'
  recorded_at: Wed, 21 Mar 2012 14:13:15 GMT
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/EmailTemplate.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <HTML><HEAD>

        <TITLE>400 Bad Request</TITLE>

        </HEAD><BODY>

        <H1>Bad Request</H1>

        Your browser sent a request that this server could not understand.<P>

        Reason: You''re speaking plain HTTP to an SSL-enabled server port.<BR>

        Instead use the HTTPS scheme to access this URL, please.<BR>

        <BLOCKQUOTE>Hint: <A HREF="https://soap.vindicia.com:443/"><B>https://soap.vindicia.com:443/</B></A></BLOCKQUOTE><P>

        </BODY></HTML>

'
  recorded_at: Wed, 21 Mar 2012 14:13:15 GMT
- request:
    method: get
    uri: https://soap.vindicia.com/3.6/Entitlement.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
[...]
